[submodule "zsh/themes/bullet-train"]
	path = zsh/themes/bullet-train
	url = https://github.com/caiogondim/bullet-train.zsh
[submodule "zsh/plugins/zsh-syntax-highlighting"]
	path = zsh/plugins/zsh-syntax-highlighting
	url = https://github.com/zsh-users/zsh-syntax-highlighting
	branch = origin/master
[submodule "zsh/plugins/zsh-autosuggestions"]
	path = zsh/plugins/zsh-autosuggestions
	url = https://github.com/zsh-users/zsh-autosuggestions
[submodule "zsh/plugins/alias-tips"]
	path = zsh/plugins/alias-tips
	url = https://github.com/djui/alias-tips.git

[submodule "tmux/tmux_gpakosz"]
	path = tmux/tmux_gpakosz
	url = https://github.com/gpakosz/.tmux.git
[submodule "tmux/tpm"]
	path = tmux/tpm
	url = https://github.com/tmux-plugins/tpm
[submodule "misc/termite-color-switcher"]
	path = misc/termite-color-switcher
	url = https://github.com/NearHuscarl/termite-color-switcher
